<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons href="#" slot="end" padding>
      <ion-icon name="power" (click)="logout()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="background-color:cornsilk" class="welcome-card">
      
      <ion-card-header color="primary">
          <ion-grid>
              <ion-row size="4">
                <ion-col>
                  <img src="/assets/user_profile.svg" alt="" />
                </ion-col>
                <ion-col size="8">
                  <ion-card-subtitle margin>Welcome</ion-card-subtitle>  
                  <ion-label color="dark" margin-horizontal>{{smName}}</ion-label>
                </ion-col>
              </ion-row>
          </ion-grid>

          
        
        
      </ion-card-header>
      <!-- <ion-card-content>
        <p></p>
      </ion-card-content> -->
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Action</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="sync"></ion-icon>
        <ion-button (click)="presentModal()">Sync Data</ion-button>
      </ion-item>
    </ion-list>
</ion-content>
